<!DOCTYPE html>
<html lang="es">
	<head>
		<title>Portafolio.la</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li>
						<a href="#yo">Yo</a>
					</li>
					<li>
						<a href="#perfil">Perfil</a>
					</li>
					<li>
						<a href="#trabajo">Trabajo</a>
					</li>
					<li>
						<a href="#contacto">Contacto</a>
					</li>
				</ul>
			</nav>
			<figure>
				<img src="avatar.jpg" alt="Imagen personal" />
				<figcaption>
					<a href="https://twitter.com/barzola95" target="_black">@barzola95</a>
				</figcaption>
				<p>
					Boris Barzola
				</p>
			</figure>
		</header>
		<section>
			<h2>Mi perfil</h2>
			<p>
				Hola! si llegaste hasta aqui puedes ver mi portafolio y contactarme
			</p>
			<a href="https://twitter.com/barzola95" target="_black">Twitter</a>
			<a href="https://www.facebook.com/borisalexander.barzolafarino" target="_black">Facebook</a>
			<a href="https://github.com/barzola95" target="_black">Github</a>
		</section>
		<section>
			<article>
				<figure>
					<img src="mejoandola.jpg" alt="Esta es la descripción de la imagen" />
					<figcaption>Website de Mejorando.la</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejoandola.jpg" alt="Esta es la descripción de la imagen" />
					<figcaption>Website de Mejorando.la</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejoandola.jpg" alt="Esta es la descripción de la imagen" />
					<figcaption>Website de Mejorando.la</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejoandola.jpg" alt="Esta es la descripción de la imagen" />
					<figcaption>Website de Mejorando.la</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejoandola.jpg" alt="Esta es la descripción de la imagen" />
					<figcaption>Website de Mejorando.la</figcaption>
				</figure>
			</article>
			<article>
				<figure>
					<img src="mejoandola.jpg" alt="Esta es la descripción de la imagen" />
					<figcaption>Website de Mejorando.la</figcaption>
				</figure>
			</article>
		</section>
		<footer>
			<h3>Contacto</h3>
			<p>Si tienes una sugerencia o quieres trabajar conmigo ponte en contacto con este formulario</p>
			<form>
				<input type="text" placeholder="nombre"/>
				<input type="email" placeholder="Email"/>
				<textarea placeholder="Motivo"></textarea>
				<button type="submit">Contactarme</button>
			</form>
		</footer>
	</body>
</html>